@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="../../Scripts/Contato/Contato.js" type="text/javascript"></script>
<link href="../../Content/Grupo/Grupo.css" rel="stylesheet" type="text/css"/>

<div class="g-row">

    <div class="g-col-6">

        <h3>Lista de Contatos</h3>

            <div id="divBuscar">
                Buscar <input type="text" id="inputFiltroContatos">
                <button id="botaoFiltroContatos">Filtrar</button>
            </div>
                
            <hr />
            <table id="tabelaContatos">
                <thead>
                    <tr>
                        <td>Nome</td>
                        <td>ID do Grupo</td>
                        <td>Opções</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <button id="botaoAbrirInserirContato">Novo Contato</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
    </div>

    <div class="g-col-6" style="display:none" id="divInserirContato">
        <div class="form">
            <h3>Inserir Contato</h3>
            <input type="hidden" id="inserirContatoId"/>
            Nome: <input type="text" id="inserirContatoNome" />
            <hr />
            <button id="botaoInserirContato">Inserir</button>
        </div>
    </div>

</div>

