#tabelaGrupos {
    width: 60%;
    margin-left:auto; 
    margin-right:auto;
}

#tabelaContatos {
    width: 60%;
    margin-left:auto; 
    margin-right:auto;
}

#divBuscar {
    text-align: center;
}

.tabela {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}